<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
	<title>GMS</title>
</head>
<body>

<h1>Greenhouse Monitoring System</h1>

<div class="graph-container">
	<div class="humidity">
		<canvas id="humidityChart"></canvas>
	</div>
		<div class="temprature">
		<canvas id="tempratureChart"></canvas>
	</div>
</div>

<div class="Moist">
	<canvas id="Moist"></canvas>
</div>

<div class="btns">
	
<form method="POST" > 
<a href="."><input type="submit" class="btn" name="ON" value="1"></a>
<a href="."><input type="submit" class="btn" name="OFF" value="0"></a>
</form>

</div>
</body>
<script>
const temprature = new Chart(document.getElementById('tempratureChart'), {
    type: 'line',
    data: {
        labels: ['1', '2', '3', '4', '5', '6'],
        datasets: [{
        	label: "tempratureChart",
            data: [12, 19, 3, 5, 2, 3],
           	fill: false,
			lineTension: 0,
            backgroundColor: "#FFF",
            borderColor: "#FFF",
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

const humidityChart = new Chart(document.getElementById('humidityChart'), {
    type: 'line',
    data: {
        labels: ['1', '2', '3', '4', '5', '6'],
        datasets: [{
        	label: "humidityChart",
            data: [12, 19, 3, 5, 2, 3],
           	fill: false,
			lineTension: 0,
            backgroundColor: "#FFF",
            borderColor: "#FFF",
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});


const Moist = new Chart(document.getElementById('Moist'), {
    type: 'line',
    data: {
        labels: ['1', '2', '3', '4', '5', '6'],
        datasets: [{
        	label: "Moist",
            data: [12, 19, 3, 5, 2, 3],
           	fill: false,
			lineTension: 0,
            backgroundColor: "#FFF",
            borderColor: "#FFF",
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

</script>
</html>